.main-button {
    width: 470px;
    padding: 20px 54px;
    border-radius: 4px;
    border: none;
    gap: 10px;
    background-color: #1F27F5;
    font-family: Lato;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    color: #FFFFFF;
    line-height: 30px;
    cursor: pointer;
}